<div class="centered-content">
    <div class="white-box">
  
      <h1 class="change-password-title has-text-primary">Change Password</h1>
      <br>
      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input #emailInput class="input has-background-light" type="password" placeholder="Old password">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input #pwInput class="input has-background-light" type="password" placeholder="New password">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input #pwInput class="input has-background-light" type="password" placeholder="Confirm new password">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <br>
      <div class="field" style="display: flex; justify-content: flex-end;">
        <p class="control">
          <button class="button is-success has-text-white">
            Change Password
          </button>
        </p>
      </div>
  
      <br>
      
    </div>
</div>