<div class="centered-content">
    <div class="white-box">
  
      <h1 class="change-password-title has-text-primary">Change Password</h1>
      <br>
      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input #oldPwInput class="input has-background-light" type="password" placeholder="Old password">
          <span class="icon is-small is-left">
            <i class="fas fa-key"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input #newPwInput class="input has-background-light" type="password" placeholder="New password">
          <span class="icon is-small is-left">
            <i class="fas fa-key"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input #confirmNewPwInput class="input has-background-light" type="password" placeholder="Confirm new password">
          <span class="icon is-small is-left">
            <i class="fas fa-key"></i>
          </span>
        </p>
      </div>
      <br>
      <div class="buttons is-right">
          <button class="button is-danger has-text-white" routerLink="/">Cancel</button>
          <button class="button is-success has-text-white" (click)="OnChangePwButtonClicked(oldPwInput.value, newPwInput.value, confirmNewPwInput.value)">Change Password</button>
      </div>
    </div>
</div>