<div class="centered-content">
    <div class="task-manager-container">
        <div class="task-list-container has-background-light">
            <div>
              <div class="top-bar">
                <h1 class="title has-text-primary" style="text-align: center;">
                  About the project
                </h1>
              </div>
      
            <div style="font-size: large; text-align: center;">
              <!-- Content -->
              <br>
              <p style="font-weight: bold;">

                To provide a real-world Task Manager Application that users can use to manage various tasks such as create, 
                edit, delete, and complete tasks. Existing users can login to their accounts while new users can create new 
                accounts. This web application is responsible for day-to-day planning, schedules, and resources.

              </p>
              <br>
              <p style="font-weight: bold;">

                With a user-friendly interface and features such as task list creation, editing and updating lists and so on,
                our web app streamlines the task management process and increases productivity. Whether you're working 
                on personal projects or collaborating with a team, our web app provides a centralized platform to keep on 
                track and focus on the tasks to be completed.

              </p>
              <br>
              <div style="font-weight: bold;">

                This project is developed by Team 1 of the Software Architecture & Development module, as part of the <br> M. Sc.
                in Applied Computer Science program at SRH Hochschule Heidelberg. The team members are:

              </div>
              <br>
              <ul>
                <li>Ahmed Hussein</li>
                <li>Sudharsan Surya Kandanathan</li>
                <li>Maryam Aghamohammadi</li>
                <li>Satish Venkata Surya Rongali</li>
                <li>Frank Bertrand Fonda Neba Ngwa</li>
              </ul>
              <br>

              <div style="font-weight: bold;">
                Thank you for checking out our application!
              </div>
            </div>

          </div>
        </div>
    </div>
    <div class="logout">
        <div class="dropdown is-hoverable is-right">
          <div class="dropdown-trigger">
            <button class="button is-success" aria-haspopup="true" aria-controls="dropdown-menu">
              <!-- <span>Profile</span> -->
              <span class="icon is-big">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content" style="margin-left: 30px;">
              <a href="/" class="dropdown-item">
                Back
              </a>
            </div>
          </div>
        </div>
      </div>
</div>