<div class="centered-content">
  <div class="task-manager-container">

    <div class="sidebar has-background-white">
      <h1 class="title has-text-primary">
        Lists
      </h1>

      <div class="list-menu">
        <a class="list-menu-item" *ngFor="let list of lists" [routerLink]="['/lists', list._id]" routerLinkActive="is-active">
          <p>{{ list.title }}</p>
        </a>
      </div>

      <button class="button is-primary has-text-white" routerLink="/new-list">+ New List</button>

    </div>

    <div class="task-list-container has-background-light">
      <div *ngIf="tasks">
        <div class="top-bar">
          <h1 class="title has-text-primary">
            Tasks
          </h1>
          <div class="dropdown is-hoverable is-right">
            <div class="dropdown-trigger">
              <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                <span class="icon is-small">
                  <i class="fas fa-cog" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu4" role="menu">
              <div class="dropdown-content">
                <a [routerLink]="['/edit-list', selectedListId]" class="dropdown-item">
                  Edit
                </a>
                <a (click)="onDeleteListClick()" class="dropdown-item has-text-danger">
                  Delete
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- Task Elements -->
        <div class="task" *ngFor="let task of tasks" (click)="onTaskClick(task)" [ngClass]="{ 'completed': task.completed }">
          <div class="task-text">
            <p>{{ task.title }}</p>
          </div>
          <div class="task-buttons">

            <button class="button" [routerLink]="['/lists', selectedListId, 'edit-task', task._id]">
              <div class="icon">
                <i class="fas fa-edit"></i>
              </div>
            </button>

            <button class="button is-danger" (click)="onDeleteTaskClick(task._id)" style="margin-left: 10px;">
              <div class="icon">
                <i class="fas fa-trash"></i>
              </div>
            </button>

          </div>
        </div>

        <h3 class="empty-state-text" *ngIf="tasks.length === 0">There are no tasks here! Click the add button to create
          a new task.</h3>

        <button routerLink="./new-task" class="circle-add-button button is-primary">
          <img src="../../../assets/plus-icon.svg" class="has-text-white">
        </button>

        <!-- <div *ngIf="task_pages > 1">
          <nav class="pagination" role="navigation" aria-label="pagination" style="padding-bottom: 20px; position: fixed;">
            <ul class="pagination-list">
              <li *ngFor="let item of [].constructor(task_pages); let i = index">
                <a class="pagination-link">{{ i+1 }}</a>
              </li>
            </ul>
          </nav>
        </div> -->
      </div>

      <div *ngIf="!tasks">
        <h3 class="empty-state-text">Please select a list from the sidebar</h3>
      </div>

    </div>

  </div>

  <div class="logout">
    <div class="dropdown is-hoverable is-right">
      <div class="dropdown-trigger">
        <button class="button is-success" aria-haspopup="true" aria-controls="dropdown-menu">
          <!-- <span>Profile</span> -->
          <span class="icon is-big">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content" style="margin-left: 30px;">
          <p class="dropdown-item" style="font-style: italic; background-color: lightgray;">
            {{userEmail}}
          </p>
          <div *ngIf="isUserAdmin">
            <hr class="dropdown-divider">
            <a href="/admin" class="dropdown-item">
              Admin Console
            </a>
          </div>
          <hr class="dropdown-divider">
          <a href="/profile" class="dropdown-item">
            Change Password
          </a>
          <hr class="dropdown-divider">
          <a class="dropdown-item" (click)="logoutButton()">
            Logout
          </a>
          <hr class="dropdown-divider">
          <a href="/about" class="dropdown-item">
            About
          </a>
        </div>
      </div>
    </div>
  </div>
</div>